:host {
  display: inline-block;
  text-align: center;
  width: 560px;
  border-radius: 4px 4px 0 0;
  left: calc(50% - 280px);
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, .3);
  border-left: 1px solid rgba(0, 0, 0, .3);
  border-right: 1px solid rgba(0, 0, 0, .3);
}

.mat-icon {
  height: 70px;
  width: 70px;
  margin: 4px 16px;
}

@media (max-width: 959px) {
  :host {
    width: 330px;
    left: calc(50% - 165px);
    top: 0%;
  }

  .mat-icon {
    height: 50px;
    width: 50px;
    margin: 4px 8px;
  }
}

a {
  display: inline-block;
}

:host a ::ng-deep svg {
  transition: all .4s;
}

:host a ::ng-deep .st0 {
  stroke: rgba(0, 0, 0, .5);
}
