:host {
  display: block;
  background: #211510;
  padding: 2em;
  border-top: 5px solid #c71f3b;
}

p {
  color: #999;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}
