:host {
  display: block;
  padding: 15px;
}

p {
  color: #999;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}
