#me-myself {
    border-radius: 1000px;
    margin: .67em auto 0 auto;
    max-width: 100%;
    transition: width 0.5s;
    width: 20vw;
}

@media screen and (max-width: 900px) {
    #me-myself {
        max-width: 384px;
        width: 45vw;
    }
}

@media screen and (max-width: 450px) {
    #me-myself {
        max-width: 192px;
        width: 60vw;
    }
}

#home-title {
    display: block;
    text-align: center;
}