// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$orange: (50 : #ffeeec,
  100 : #ffd4d0,
  200 : #ffb7b0,
  300 : #ff9a90,
  400 : #ff8579,
  500 : #ff6f61,
  600 : #ff6759,
  700 : #ff5c4f,
  800 : #ff5245,
  900 : #ff4033,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe0de,
  A700 : #ffc8c4,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$yellow: (50 : #fffff1,
  100 : #ffffdd,
  200 : #ffffc6,
  300 : #ffffaf,
  400 : #ffff9e,
  500 : #ffff8d,
  600 : #ffff85,
  700 : #ffff7a,
  800 : #ffff70,
  900 : #ffff5d,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffe7,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($orange);
$accent: mat-palette($yellow);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap');

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}

* {
  font-family: Raleway, "Helvetica Neue", sans-serif;
}
