<h1>Impressum</h1>
<p>
  Gemäß § 5 Telemediengesetz soll jede Website, die „geschäftsmäßige, in der Regel gegen Entgelt angebotene Telemedien“
  offeriert, ein Impressum vorhalten. Dieser Pflicht komme ich gerne nach, sobald ich mich dazu entschließe, dass diese
  Website mehr sein soll als meine private Website. Solange ich hier aber nur ein paar private Meinungsbeiträge
  veröffentliche und über Softwareentwicklung blogge, sehe ich mich nicht von § 5 TMD betroffen.<br><br>

  Nichtsdestotrotz findet man auf dieser Webseite ja sowieso meine E-Mail Adresse und genügend andere Möglichkeiten,
  mich zu kontaktieren, also fühlt euch frei diese Kanäle zu nutzen.
</p>
