:host {
  background: #896b5f;
  background-image: url(/assets/wooden-background.png);
  display: block;
  text-align: center;
  padding: 30px;
}

.mat-icon {
  height: 80px;
  width: 80px;
  margin: 16px;
}

@media (max-width: 599px) {
  .mat-icon {
    height: 40px;
    width: 40px;
    margin: 0 8px;
  }
}

a {
    display: inline-block;
}

::ng-deep .st0 {
  stroke: #fff !important;
}

a ::ng-deep svg {
  transition: all .4s;
}

a:hover ::ng-deep svg {
  filter: drop-shadow( 2px 2px 4px #fff );
}
