@import '../styles/constants';

:host {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $width;
  padding: 0 $padding;
}

#content {
  display: grid;
  margin-top: 86px;
  min-height: calc(100vH - 86px - 102px);
}

:host ::ng-deep router-outlet+* {
  justify-self: center;
  max-width: 40rem;
}

.mk-footer {
  margin-top: 2rem;
}
