<section class="content">
  <picture id="avatar">
    <source srcset="/assets/avatar_cut-out.webp" type="image/webp">
    <source srcset="/assets/avatar_cut-out.png" type="image/png">
    <img width="334" src="/assets/avatar_cut-out.png" alt="Freigestelltes Bild von Markus">
  </picture>
  <h1>Markus Kollers</h1>
  <p>
    Hi, ich bin Markus. Ich entwickel Cloud-native Software, meistens Web-basiert, lerne gerne neue Technologien kennen
    und realisiere innovative Projekte.
  </p>
  <div id="social">
    <a href="mailto:mail@markuskollers.de" title="Email">
      <mat-icon svgIcon="social:mail"></mat-icon>
    </a>
    <a href="https://twitter.com/MaKollers" target="_blank" rel="noopener" title="Twitter">
      <mat-icon svgIcon="social:twitter"></mat-icon>
    </a>
    <a href="https://github.com/mkollers" target="_blank" rel="noopener" title="Github">
      <mat-icon svgIcon="social:github"></mat-icon>
    </a>
    <a href="https://www.linkedin.com/in/markus-kollers-4b8b2a128/" target="_blank" rel="noopener" title="Linkedin">
      <mat-icon svgIcon="social:linkedin"></mat-icon>
    </a>
    <a href="https://www.xing.com/profile/Markus_Kollers" target="_blank" rel="noopener" title="Xing">
      <mat-icon svgIcon="social:xing"></mat-icon>
    </a>
  </div>
  <h2>Über mich</h2>
  <p>
    Seit knapp 10 Jahren bin ich in der Softwareentwicklung tätig, habe eine Berufsausbildung zum
    <strong>Fachinformatiker</strong> Anwendungsentwicklung abgeschlossen und ein Studium als
    <strong>Diplom-Wirtschaftsinformatiker</strong> (Fachhochschule) absolviert. Softwareentwicklung ist nicht nur mein
    Beruf, sondern auch meine Leidenschaft. So habe ich mich schon während meiner Ausbildung in meiner Freizeit
    kontinuierlich mit neuen Themen und Technologien beschäftigt und dies bis heute fortgeführt.
  </p>

  <p>
    Dabei hat mich nie ein spezifischer Teil in der Kette der Softwareentwicklung interessiert, sondern immer das
    <strong>große Ganze</strong>. Jeder der schon einmal komplett auf sich selbst gestellt ein Softwareprojekt
    realisiert hat weiß, dass er sich nicht auf das Frontend, Backend oder Datenbanken alleine fokussieren kann. Niemand
    nimmt einem dabei die anderen Aufgaben ab, man muss sich um alles selber kümmern. Aus diesem Grund habe ich
    Erfahrung in allen Bereichen der Softwareentwicklung sammeln dürfen oder viel mehr müssen. Selbstverständlich kann
    man sich nicht mit allen Aspekten und Variationen der Softwareentwicklung auskennen und von sich behaupten auf allen
    ein Experte zu sein. Natürlich habe auch ich Spezialgebiete und Themen auf denen ich mich nicht oder nur wenig
    auskenne. Einige Bereiche stehen noch auf meiner To-do-Liste, andere habe ich subventioniert und mich stattdessen
    auf Alternativen fokussiert.<br><br>
  </p>

  <h2>Webentwicklung</h2>
  <p>
    Mein Spezialgebiet liegt dabei ganz klar in der Webentwicklung. Ich war schon immer ein Verfechter des World Wide
    Web, da es eine Geräte- und Betriebssystemunabhängige Plattform darstellt. Das Web schließt niemanden aus, nur weil
    er lieber mit Linux oder Mac arbeitet, oder keine Administrationsrechte auf seinem Firmenrechner besitzt. Trotz
    vieler Versuche plattformunabhängige Sprachen und Frameworks zu schaffen, ist es keiner Technologie so gut gelungen
    wie dem Web. Dank moderner Browser, JavaScript-Frameworks und weiterer Technologien lassen sich inzwischen genauso
    mächtige Anwendungen im Web bauen, wie sie früher nur mit nativen Anwendungen denkbar waren. Und das
    <strong>ökonomisch wesentlich effizienter</strong> als es die Entwicklung einer nativen Anwendung für mehrere Geräte
    und Betriebssysteme wäre.
  </p>
  <p>
    Zu Beginn habe ich noch mit serverseitigem Rendering mit PHP oder ASP.NET gekämpft, dann aber nach Erscheinen von
    AngularJS auf Single Page Applications gewechselt. Von Anfang an war ich von der Reaktionsfreudigkeit und
    Skalierbarkeit eines Architekturmodells mit Client-seitigem Rendering begeistert. Dabei bin ich dem
    Angular-Framework treu geblieben und habe seit Erscheinen der Beta von Angular 2 auf die neue Version des Frameworks
    gewechselt und seitdem mehrere Projekte mit Angular realisiert. Mit inzwischen fast drei Jahren Erfahrung und dem
    Erscheinen von <strong>Angular 8</strong> kann ich Erfahrung in der Umsetzung und Optimierung von
    Enterprise-Anwendungen mit diesem Framework vorweisen.
  </p>
  <p>
    Durch das Aufkommen von <strong>Progressive Web Apps</strong> (PWA), welches auch Thema meiner Diplomarbeit war, ist
    das Web noch stärker geworden. So sind inzwischen auch Funktionen wie die Installierbarkeit, Offline-Fähigkeit oder
    Push-Notifications in Webanwendungen möglich. In der Kombination mit einem SPA-Framework wie Angular, React oder
    VueJS ist es nahezu spielend einfach eine schnelle, reaktionsfreudige und Offline-fähige Anwendung zu bauen, die
    früher nur mit nativen Anwendungen denkbar waren. Dabei habe ich dutzenden Personen eine PWA an die Hand gegeben und
    sie konnten den Unterschied zu einer nativen mobile App nicht feststellen. Schnallt man nun noch ein Hybrid-App
    Framework wie Electron oder Cordova davor, erhält man bei Bedarf dennoch eine native App, ohne redundanten
    Anwendungscode.
  </p>
  <p>
    <img width="150" alt="Google Mobile Web Specialist Badge" class="image-right"
      src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/13275520">
    Wenn man nun schon ausschließlich im Web unterwegs ist und sich keine Gedanken über die Positionierung seiner
    Anwendung in App-Stores machen muss, rutscht das Thema <strong>Suchmaschinenoptimierung</strong> (SEO) natürlich
    noch viel mehr in den Vordergrund. Durch mehrere Jahre Erfahrung in der technischen SEO-Optimierung von Webseiten
    und meiner Zertifizierung zum <a
      href="https://www.credential.net/z2uwwu2z?key=f4599119adc6315731bbec4a291002302c6219b279e37d2812700c5a4f715fea"
      target="_blank" rel="noopener">Google Mobile Web Specialist</a> kann ich Ihre Webseite so
    optimieren, dass Ihr Content optimal ranked. Falls Sie Bedarf an der Marken-Strategie oder Content haben kann ich
    Sie gerne an Kontakte aus meinem Freelancer-Netzwerk vermitteln.
    <br><br>
    <a mat-flat-button color="primary"
      href="mailto:mail@markuskollers.de?subject=Ich%20m%C3%B6chte%20gerne%20mehr%20%C3%BCber%20die%20Webentwicklung%20erfahren">Mehr erfahren</a>
    <br><br>
  </p>
  <h2>Software-Architektur</h2>
  <p>Regelmäßig höre ich die Frage „Was macht eigentlich ein Software-Architekt?" - doch bevor wir uns dieser Frage
    widmen: Was ist eigentlich eine Software-Architektur? Software ist mehr als nur Features. Häufig wird getrennt
    zwischen funktionalen und <strong>nicht-funktionalen Anforderungen</strong>. Während die fachlichen Anforderungen
    meistens vom Kunden oder der Fachabteilung vorgegeben werden, werden die nicht-funktionalen Anforderungen gerne als
    selbstverständlich vorausgesetzt. Hierzu zählen unter Anderem:</p>
  <ul>
    <li>Stabilität (Verfügbarkeit, Wiederherstellbarkeit, Fehlertoleranz...)</li>
    <li>Aussehen und Usability (Corporate Design, Mobile-Fähigkeit, Verständlichkeit...)</li>
    <li>Sicherheit (Authentifizierung, Autorisierung, Datenschutz...)</li>
    <li>Performance und Effizienz (Antwortzeiten, Ressourcenbedarf, Skalierbarkeit...)</li>
    <li>Wartbarkeit und Betrieb (Verständlichkeit, Dokumentation, Anpassbarkeit, Erweiterbarkeit...)</li>
  </ul>
  <p>
    Um diese Punkte zu erfüllen Bedarf es Erfahrung in unterschiedlichen Disziplinen der Softwareentwicklung und es
    kann nicht erwartet werden, dass ein Junior-Developer diese Anforderungen vollumfänglich überblicken und erfüllen
    kann, auch wenn er dies von sich behauptet. Ein sehr passendes Zitat hierzu:
  </p>
  <span class="quote">“If you think good architecture is expensive, try bad architecture.”
    <span class="autor">Brian Foote and Joseph Yoder</span>
  </span>
  <p>Das große Problem dabei ist, dass Softwareentwicklung und Programmierung für die meisten Kunden und Fachbereiche
    nicht greifbar und verständlich ist. Aber sind wir mal ehrlich: Wenn der Auspuff an Ihrem Auto locker ist, gehen sie
    zu einem erfahrenen Mechaniker oder lassen sie den Nachbarsjungen das ganze mit Klebeband richten? Beides wird das
    Problem lösen, das eine langfristig, das andere nicht.</p>
  <p>
    Sucht man nun bei Google nach dem Berufsbild des Software-Architekten findet man viele
    unterschiedliche Beschreibungen. Gleiches habe ich in meiner bisherigen Berufserfahrung erleben dürfen. Häufig
    wird der Vergleich zur klassischen Architektur gezogen, bei der ein Architekt das Gebäude plant, während Handwerker
    und Bauarbeiter das Gebäude bauen. Tatsächlich sind gewisse Parallelen in der Software-Entwicklung vorhanden,
    allerdings gefällt mir die Vorstellung des Architekten in seinem Elfenbeinturm nicht. Meiner Auffassung nach braucht
    der Software-Architekt Entwickler-Stallgeruch und sollte auch möglichst nah mit den Entwicklern zusammen
    arbeiten oder sogar selber mit entwickeln. Nur so kann ein ausreichender Austausch und Wissenstransfer gewährleistet
    werden. Die Vorstellung einmal eine Architektur zu konzipieren und diese nicht wieder nachjustieren zu müssen ist
    meiner Erfahrung nach unrealistisch. Diese Interpretation wird auch in vielen Unternehmen so gelebt. So ist der
    Software-Architekt häufig ein erfahrener Kollege, den man als auch <strong>Chef-Entwickler</strong> bezeichnen
    könnte.</p>
  <p>
    Der Software-Architekt verantwortet die Erfüllung und Überwachung der nicht-funktionalen Anforderungen. Zudem kann
    er je nach Organisation bei der Definition der fachlichen Anforderungen unterstützen, bei der Einschätzung des
    Aufwands helfen und anderen Abteilungen wie Marketing oder Vertrieb beraten. Für die Erfüllung seiner Hauptaufgabe
    sollte er den <strong>Kunden oder Fachbereich beraten</strong>, denn die Entscheidung darüber, ob eine Anwendung
    bspw. als
    Windows-Client Anwendung oder Desktop-Only entwickelt wird, kann einen massiven Schaden verursachen, wenn diese
    Entscheidung nachträglich revidiert werden muss. Sind allgemeine Plattform-Fragen und der der funktionale Umfang
    geklärt, muss sich der Architekt Gedanken darüber machen wie er diese Anforderungen umsetzen kann. Während es dabei
    früher hauptsächlich um die Wahl weniger Technologien und Frameworks, sowie der Strukturierung von Code eines
    Monolithen ging, ist die Aufgabe im Cloud-Zeitalter etwas komplexer geworden.
  </p>
  <p>
    Zumeist wird bei der Softwareentwicklung der groß Gedacht. Man möchte seine Anwendung nicht für ein paar Dutzend
    Nutzer entwickeln, dafür ist der Aufwand auch einfach zu kostspielig. Das Ziel ist meistens eine global genutzte
    Anwendung mit mehreren hunderttausend oder Millionen von regelmäßigen Nutzern. Für dieses Ziel müssen meistens viele
    und komplexe Funktionen implementiert werden, welche in einer monolithischen Architektur meistens sehr schwer zu
    warten und erweitern sind. In Zeiten von agilen Vorgehensmodellen wie Scrum und Co., bei denen erwartet wird in
    kurzen
    Intervallen Änderungen und Erweiterungen an einer Anwendung vorzunehmen, kann dies eine Entwicklungsabteilung sehr
    schnell lahmlegen oder Qualität kosten. Ebenfalls kritisch ist die Skalierbarkeit: muss ein Monolith plötzlich das
    hundertfache an Anfragen bearbeiten kommt es zu einem <strong>Bottleneck-Problem</strong>, bei dem ein einzelner
    Bereich der Anwendung dieser Last nicht mehr standhalten kann. Möchte man nun dieses Bottleneck mit mehr Ressourcen
    versorgen, so muss in der Regel das ganze System skaliert werden. Dies führt zu einem unnötig hohen Bedarf an
    Ressourcen und damit zu unnötig hohen wirtschaftlichen Kosten.
  </p>
  <p>
    Um diesen Problemen Herr zu werden, wird heut zutage vermehrt auf <strong>Microservice-Architekturen</strong>
    gesetzt, bei denen die Anwendung in mehrere kleine Dienste getrennt wird. Diese Dienste sind jeweils für einen
    Teilbereich zuständig, sind leichter zu verstehen, mit unterschiedlichen Sprachen und Frameworks entwickelt werden
    und können einzeln veröffentlicht und skaliert werden. Doch möchte man nun anstatt einmal im Jahr, einmal pro Woche
    eine neue Version seiner Anwendung veröffentlichen, welche nun aus dutzenden einzelner Services besteht, ist der
    Aufwand für ein Release und dessen Qualitätskontrolle erheblicher größer. Dies lässt sich nur durch Automation
    lösen. Mithilfe von <strong>Continuous Integration, Continuous Delivery bzw. Continuous Deployment (CI/CD)</strong>
    wird dieser Vorgang automatisiert, sodass dutzende von Releases an einem Tag möglich sind. Doch dies geschieht nicht
    von selbst: der Architekt muss sich nun unter Anderem über folgende Dinge Gedanken machen:
  </p>
  <ul>
    <li>Wie viele Services werden benötigt und welche Funktion kommt in welchen Service?</li>
    <li>Welche Sprache und welche Frameworks werden für welchen Microservice verwendet?</li>
    <li>Wie sprechen die Services miteinander?</li>
    <li>Wie lässt sich das Hosting und die CI/CD-Pipeline von Services mit unterschiedlichen Technologien realisieren?
    </li>
    <li>Wie läuft die Dokumentation und Versionierung der Services ab?</li>
  </ul>
  <p>
    Und dabei liegt es natürlich in seiner Verantwortung die von ihm skizzierte Architektur ins Team zu bringen, neue
    Technologien und Prozesse zu vermitteln und ggf. auch mal von seinem Plan abrücken, wenn es sich mit dem Know-how
    oder der Kultur des Entwickler-Teams nicht vereinbaren lässt.
    <br><br>
    <a mat-flat-button color="primary"
      href="mailto:mail@markuskollers.de?subject=Ich%20m%C3%B6chte%20gerne%20mehr%20%C3%BCber%20die%Software-Architektur%20erfahren">Mehr erfahren</a>
    <br><br>
  </p>
</section>
