<section class="content">
  <picture id="avatar">
    <source srcset="/assets/avatar_cut-out.webp" type="image/webp">
    <source srcset="/assets/avatar_cut-out.png" type="image/png">
    <img width="334" src="/assets/avatar_cut-out.png" alt="Freigestelltes Bild von Markus">
  </picture>
  <h1>Markus Kollers</h1>
  <p>
    Hi, ich bin Markus. Ich entwickel Cloud-native Software, meistens Web-basiert, lerne gerne neue Technologien kennen
    und realisiere innovative Projekte.
  </p>
  <div id="social">
    <a href="mailto:mail@markuskollers.de" title="Email">
      <mat-icon svgIcon="social:mail"></mat-icon>
    </a>
    <a href="https://twitter.com/MaKollers" target="_blank" rel="noopener" title="Twitter">
      <mat-icon svgIcon="social:twitter"></mat-icon>
    </a>
    <a href="https://github.com/mkollers" target="_blank" rel="noopener" title="Github">
      <mat-icon svgIcon="social:github"></mat-icon>
    </a>
    <a href="https://www.linkedin.com/in/markus-kollers-4b8b2a128/" target="_blank" rel="noopener" title="Linkedin">
      <mat-icon svgIcon="social:linkedin"></mat-icon>
    </a>
    <a href="https://www.xing.com/profile/Markus_Kollers" target="_blank" rel="noopener" title="Xing">
      <mat-icon svgIcon="social:xing"></mat-icon>
    </a>
  </div>
  <h2>Über mich</h2>
  <p>
    Seit knapp 10 Jahren bin ich in der Softwareentwicklung tätig, habe eine Berufsausbildung zum
    <strong>Fachinformatiker</strong> Anwendungsentwicklung abgeschlossen und ein Studium als
    <strong>Diplom-Wirtschaftsinformatiker</strong> (Fachhochschule) absolviert. Softwareentwicklung ist nicht nur mein
    Beruf, sondern auch meine Leidenschaft. So habe ich mich schon während meiner Ausbildung in meiner Freizeit
    kontinuierlich mit neuen Themen und Technologien beschäftigt und dies bis heute fortgeführt.
  </p>

  <p>
    Dabei hat mich nie ein spezifischer Teil in der Kette der Softwareentwicklung interessiert, sondern immer das
    <strong>große Ganze</strong>. Jeder der schon einmal komplett auf sich selbst gestellt ein Softwareprojekt
    realisiert hat weiß, dass er sich nicht auf das Frontend, Backend oder Datenbanken alleine fokussieren kann. Niemand
    nimmt einem dabei die anderen Aufgaben ab, man muss sich um alles selber kümmern. Aus diesem Grund habe ich
    Erfahrung in allen Bereichen der Softwareentwicklung sammeln dürfen oder viel mehr müssen. Selbstverständlich kann
    man sich nicht mit allen Aspekten und Variationen der Softwareentwicklung auskennen und von sich behaupten auf allen
    ein Experte zu sein. Natürlich habe auch ich Spezialgebiete und Themen auf denen ich mich nicht oder nur wenig
    auskenne. Einige Bereiche stehen noch auf meiner To-do-Liste, andere habe ich subventioniert und mich stattdessen
    auf Alternativen fokussiert.<br><br>
  </p>

  <h2>Webentwicklung</h2>
  <p>
    Mein Spezialgebiet liegt dabei ganz klar in der Webentwicklung. Ich war schon immer ein Verfechter des World Wide
    Web, da es eine Geräte- und Betriebssystemunabhängige Plattform darstellt. Das Web schließt niemanden aus, nur weil
    er lieber mit Linux oder Mac arbeitet, oder keine Administrationsrechte auf seinem Firmenrechner besitzt. Trotz
    vieler Versuche plattformunabhängige Sprachen und Frameworks zu schaffen, ist es keiner Technologie so gut gelungen
    wie dem Web. Dank moderner Browser, JavaScript-Frameworks und weiterer Technologien lassen sich inzwischen genauso
    mächtige Anwendungen im Web bauen, wie sie früher nur mit nativen Anwendungen denkbar waren. Und das
    <strong>ökonomisch wesentlich effizienter</strong> als es die Entwicklung einer nativen Anwendung für mehrere Geräte
    und Betriebssysteme wäre.
  </p>
  <p>
    Zu Beginn habe ich noch mit serverseitigem Rendering mit PHP oder ASP.NET gekämpft, dann aber nach Erscheinen von
    AngularJS auf Single Page Applications gewechselt. Von Anfang an war ich von der Reaktionsfreudigkeit und
    Skalierbarkeit eines Architekturmodells mit Client-seitigem Rendering begeistert. Dabei bin ich dem
    Angular-Framework treu geblieben und habe seit Erscheinen der Beta von Angular 2 auf die neue Version des Frameworks
    gewechselt und seitdem mehrere Projekte mit Angular realisiert. Mit inzwischen fast drei Jahren Erfahrung und dem
    Erscheinen von <strong>Angular 8</strong> kann ich Erfahrung in der Umsetzung und Optimierung von
    Enterprise-Anwendungen mit diesem Framework vorweisen.
  </p>
  <p>
    Durch das Aufkommen von <strong>Progressive Web Apps</strong> (PWA), welches auch Thema meiner Diplomarbeit war, ist
    das Web noch stärker geworden. So sind inzwischen auch Funktionen wie die Installierbarkeit, Offline-Fähigkeit oder
    Push-Notifications in Webanwendungen möglich. In der Kombination mit einem SPA-Framework wie Angular, React oder
    VueJS ist es nahezu spielend einfach eine schnelle, reaktionsfreudige und Offline-fähige Anwendung zu bauen, die
    früher nur mit nativen Anwendungen denkbar waren. Dabei habe ich dutzenden Personen eine PWA an die Hand gegeben und
    sie konnten den Unterschied zu einer nativen mobile App nicht feststellen. Schnallt man nun noch ein Hybrid-App
    Framework wie Electron oder Cordova davor, erhält man bei Bedarf dennoch eine native App, ohne redundanten
    Anwendungscode.
  </p>
  <p>
    <img width="150" alt="Google Mobile Web Specialist Badge" class="image-right"
      src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/13275520">
    Wenn man nun schon ausschließlich im Web unterwegs ist und sich keine Gedanken über die Positionierung seiner
    Anwendung in App-Stores machen muss, rutscht das Thema <strong>Suchmaschinenoptimierung</strong> (SEO) natürlich
    noch viel mehr in den Vordergrund. Durch mehrere Jahre Erfahrung in der technischen SEO-Optimierung von Webseiten
    und meiner Zertifizierung zum <a
      href="https://www.credential.net/z2uwwu2z?key=f4599119adc6315731bbec4a291002302c6219b279e37d2812700c5a4f715fea"
      target="_blank" rel="noopener">Google Mobile Web Specialist</a> kann ich Ihre Webseite so
    optimieren, dass Ihr Content optimal ranked. Falls Sie Bedarf an der Marken-Strategie oder Content haben kann ich
    Sie gerne an Kontakte aus meinem Freelancer-Netzwerk vermitteln.
  </p>
  <a mat-flat-button color="primary" href="mailto:mail@markuskollers.de?subject=Ich%20m%C3%B6chte%20gerne%20mehr%20%C3%BCber%20die%20Webentwicklung%20erfahren">Interessiert? Gerne erzähle ich Ihnen mehr...</a>
</section>
