:host {
  align-items: center;
}

.content {
  align-items: center;
  max-width: 600px;
  width: 100%;
}

#avatar {
  max-width: 334px;
  width: 80%;
}

#avatar img {
  display: block;
  height: auto;
  margin: 0 auto;
}

p {
  text-align: justify;
}

#social {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  a {
    margin: 0 8px;
    transition: color .3s ease-in-out;
  }
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

.image-right {
  float: right;
  margin: 0 16px 16px 16px;
}
