<picture id="avatar">
  <source srcset="/assets/avatar_cut-out.webp" type="image/webp">
  <source srcset="/assets/avatar_cut-out.png" type="image/png">
  <img src="/assets/avatar_cut-out.png" alt="Freigestelltes Bild von Markus">
</picture>
<h1>Markus Kollers</h1>
<p>
  Hi, ich bin Markus. Ich entwickel cloud-native Software, meistens Web-basiert (PWAs sind die Zukunft), lerne gerne
  neue Technologien kennen und realisiere innovative Projekte.
</p>
<div id="social">
  <a href="mailto:mail@markuskollers.de" title="Email">
    <mat-icon svgIcon="social:mail"></mat-icon>
  </a>
  <a href="https://twitter.com/MaKollers" target="_blank" rel="noopener" title="Twitter">
    <mat-icon svgIcon="social:twitter"></mat-icon>
  </a>
  <a href="https://github.com/mkollers" target="_blank" rel="noopener" title="Github">
    <mat-icon svgIcon="social:github"></mat-icon>
  </a>
  <a href="https://www.linkedin.com/in/markus-kollers-4b8b2a128/" target="_blank" rel="noopener" title="Linkedin">
    <mat-icon svgIcon="social:linkedin"></mat-icon>
  </a>
  <a href="https://www.xing.com/profile/Markus_Kollers" target="_blank" rel="noopener" title="Xing">
    <mat-icon svgIcon="social:xing"></mat-icon>
  </a>
</div>
