:host {
  align-items: center;
}

#avatar {
  max-width: 450px;
  width: 80%;
}

#avatar img {
  height: auto;
  width: 100%;
}

p {
  text-align: justify;
  max-width: 600px;
}

#social {
  margin-bottom: 32px;

  a {
    margin: 0 8px;
    transition: color .3s ease-in-out;
  }
}

h2 {
  margin-bottom: 0;
}
