<mat-toolbar fxLayout="column">
  <mat-toolbar-row id="main-nav" fxLayoutAlign="end center">
    <a mat-button>About me</a>
    <a mat-button>Blog</a>
  </mat-toolbar-row>
  <mat-toolbar-row id="intro" fxLayout="row wrap" fxLayoutAlign.gt-xs="center center" fxLayoutGap="16px">
    <img fxHide.gt-xs src="/assets/markus_kollers.jpg" width="100">
    <img fxHide.xs src="/assets/markus_kollers.jpg" width="200">
    <section fxFlex class="intro-text">
      <span class="light">Hallo,</span>
      <h1>Ich bin Markus</h1>
      <p>Ich konzipiere und programmiere Online-Software.</p>
    </section>
  </mat-toolbar-row>
</mat-toolbar>
