:host {
  display: block;
  font-size: 32px;
}

:host .mat-toolbar {
  height: 20em;
  padding: 0;
  letter-spacing: 2px;
  background: transparent;
}

h1 {
  font-size: 32px;
  margin: 8px 0;
}

section {
  min-height: 50%;
}

@media (min-width: 960px) {
  section {
    min-height: 100%;
  }
}

.content {
  padding-left: 2em;
}


