<mat-toolbar fxLayout="column">
  <mat-toolbar-row id="main-nav" fxLayoutAlign="end center">
    <a mat-button routerLink="/" routerLinkActive="active">About me</a>
    <a mat-button routerLink="/blog" routerLinkActive="active">Blog</a>
  </mat-toolbar-row>
  <mat-toolbar-row id="intro" fxLayout="row wrap" fxLayoutAlign.gt-xs="center center" fxLayoutGap="16px">
    <section fxFlex class="intro-text">
      <span class="light">Hallo,</span>
      <h1>Ich bin Markus</h1>
      <p>Ich konzipiere und programmiere Online-Software.</p>
    </section>
  </mat-toolbar-row>
</mat-toolbar>
