:host {
  display: block;
  background: #896b5f;
  background-image: url(/assets/wooden-background.png);
  padding: 15px;
  text-align: center;
  border-bottom: 5px solid #3d2f2a;
}

img {
  border-radius: 50%;
}

h1 {
  color: #fff;
  font-weight: 300;
}

b,
strong {
  font-weight: 400;
}

a:hover ::ng-deep img {
  box-shadow: 0 0 20px rgba(255, 255, 255, .5);
}
