:host {
  display: block;
  background: #312723;
  padding: 15px;
  text-align: center;
  border-bottom: 5px solid #c71f3b;
}

img {
    border-radius: 50%;
}

h2 {
    color: #fff;
    font-weight: 200;
}

b, strong {
    font-weight: 500;
}
