// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$mat-blue: (
    50 : #ecf6fe,
    100 : #d1e8fc,
    200 : #b2d9fa,
    300 : #93caf7,
    400 : #7bbef6,
    500 : #64b3f4,
    600 : #5cacf3,
    700 : #52a3f1,
    800 : #489aef,
    900 : #368bec,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #cee4ff,
    A700 : #b4d5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-green: (
    50 : #f8fcf3,
    100 : #edf7e1,
    200 : #e1f2ce,
    300 : #d4edba,
    400 : #cbe9ab,
    500 : #c2e59c,
    600 : #bce294,
    700 : #b4de8a,
    800 : #acda80,
    900 : #9fd36e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f2ffe5,
    A700 : #e4ffcc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$green-blue-primary: mat-palette($mat-blue);
$green-blue-accent: mat-palette($mat-green);

// Create the theme object (a Sass map containing all of the palettes).
$green-blue-theme: mat-light-theme($green-blue-primary, $green-blue-accent);

