@import './styles/theme';
@import './app/pages/landing-page/_landing-page-theme';
@import './app/shared/layout/components/footer/_footer-theme';
@import './app/shared/layout/components/header/_header-theme';

@mixin custom-theme($theme) {
  @include footer-theme($theme);
  @include header-theme($theme);
  @include landing-page-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include custom-theme($theme);

h1,
h2 {
  font-weight: 400;
  text-transform: uppercase;
  word-break: break-all;
}

p {
  line-height: 1.5;
}

mk-root .mat-flat-button {
  border-radius: 1000px;
  text-decoration: none;
  text-transform: uppercase;
}
